version: "3.9"

services:
  backend:
    build: .
    container_name: spam-backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: spam-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
